extends index.pug

block content
  section.layout-width-sd.layout-col
    .layout-width-1-1.layout-col
      .layout-width-1-1.layout-col
        h1 #{note.name}
        h3 #{note.user.fullname}
        p #{note.updatedAt}
      .layout-width-1-1.layout-col
        p #{note.description}
      .layout-width-1-1.layout-col
        p #{note.body}
