extends index.pug

block aside
  aside.sidebar
    .sticky-50.flexy-column
      article.domainactions
        .hdg.hdg-2 Domain Actions
        .actions.primary
          .item-listing
            .itemdetail
              label.label(for="domainname") Name:
              .data #{domain.name}
            .itemdetail
              label.label(for="domaindescription") Description:
              .data #{domain.description}
            - let defaultToDomain = (user.defaultDomainId!=domain.id) ? "/users/" + user.id + "/actions/setdefaultdomain/" + domain.id + "/" : "";
            if(user.defaultDomainId!=domain.id)
              a#domain_make_default_button.btn.tertiary.buttondomaindefault(href= defaultToDomain)
                i.material-icons stars
                span Make Default
            #domain_edit_button_container.authUI(data-fetch="domain_edit" data-href="/domains/" + domain.id + "/actions/edit/")
        .actions.secondary
          .hdg.hdg-2 Roles
          .item-listing
            each role in domain.roles
              - let targetLoc = "/roles/" + role.id + "/";
              .subitem-listing.clickable(onclick="goTo('" + targetLoc + "')")
                .data #{role.name}
                .subdata #{role.description}

block content
  section.domain
    article.main
      .hdg.hdg-2 Domain: #{domain.name} 
      .hdg.hdg-3 Items
      div
        .item-container
          - objectTypes = Object.keys(linkedObjects);
          each objectType in objectTypes
            - objectTypeList = "list-" + objectType;
            +#{objectTypeList}(linkedObjects[objectType])          
    //- article.secondary
    //-   .hdg.hdg-1 Domain Actions
    //-   .itembanner
    //-     .itemdetail
    //-       label.label(for="domainname") Name:
    //-       .data #{domain.name}
    //-     .itemdetail
    //-       label.label(for="domaindescription") Description:
    //-       .data #{domain.description}
    //-     - let defaultToDomain = (user.defaultDomainId!=domain.id) ? "/users/" + user.id + "/actions/setdefaultdomain/" + domain.id + "/" : "";
    //-     if(user.defaultDomainId!=domain.id)
    //-       a#domain_make_default_button.btn.tertiary.buttondomaindefault(href= defaultToDomain)
    //-         i.material-icons stars
    //-         span Make Default
    //-     #domain_edit_button_container.authUI(data-fetch="domain_edit" data-href="/domains/" + domain.id + "/actions/edit/")
    //-   .item
    //-     .itemdetail
    //-       label.label(for="domainroles") Roles:
    //-       each role in domain.roles
    //-         - let targetLoc = "/roles/" + role.id + "/";
    //-         .subitem-listing.clickable(onclick="goTo('" + targetLoc + "')")
    //-           .data #{role.name}
    //-           .subdata #{role.description}
    //-   #domain_invite_button_container.authUI(data-fetch="domain_invite" data-href="/domains/" + domain.id + "/invite/")
    //-   .infotext.hdg.hdg-3 Edit Role View
    //-   .infotext You can edit a domain with this view.
    //-   .infotext Modify the details for the domain.
    //-   .infotext.hdg.hdg-3 Name
    //-   .infotext Enter the user's email address here. This should be a valid email address
    //-   .infotext.example
    //-     .infotext.heading Examples:
    //-     .infotext tommy@test.com
    //-   .infotext.important This is a required field.
