extends index.pug

block aside
  aside.sidebar
    .sticky-50.flexy-column
      article.domainactions
        h2 Actions
        .actions.primary
          .item-listing
            .itemdetail
              label.label(for="domainname") Name:
              .data #{domain.name}
            if(domain.description && domain.description.length>0)
              .itemdetail
                label.label(for="domaindescription") Description:
                .data #{domain.description}
            - let defaultToDomain = (user.defaultDomainId!=domain.id) ? "/users/" + user.id + "/actions/setdefaultdomain/" + domain.id + "/" : "";
            if(user.defaultDomainId!=domain.id)
              a#domain_make_default_button.btn.tertiary.buttondomaindefault(href= defaultToDomain)
                i.material-icons favorite_border
                span Make Default
            #domain_edit_button_container.authUI(data-fetch="domain_edit" data-href="/domains/" + domain.id + "/actions/edit/")
        .actions.secondary
          h2 Roles
          .item-listing
            each role in domain.roles
              - let targetLoc = "/roles/" + role.id + "/";
              .subitem-listing.clickable(onclick="goTo('" + targetLoc + "')")
                .data #{role.name}
                .subdata #{role.description}
      +list-user-domains("Domains")
      +create-or-see-domains("Domain")


block content
  section.domain
    article.main
      h2 Domain: #{domain.name} 
      h3 Items
      div
        .item-container
          - objectTypes = Object.keys(linkedObjects);
          each objectType in objectTypes
            - objectTypeList = "list-" + objectType;
            +#{objectTypeList}(linkedObjects[objectType])
