extends index.pug

block aside
  aside.sidebar
    .sticky-50.flexy-column
      if(user)
        article.fileactions
          .hdg.hdg-2 Actions
          #file_add_button_container.addfile.authUI(data-fetch="file_add" data-href="/actions/create/file/")
          #file_edit_button_container.editfile.authUI(data-fetch="file_edit" data-href="/files/" + files.id + "/actions/edit/")
        +list-user-invites()
        //- #articles
        //-   include articles-list
        +list-user-domains("Domain")
        +create-or-see-domains("Domain")
      //- if(!user)
      //-   article.actions
      //-     if(notes && notes.length>0)
      //-       #articles
      //-         include articles-list
      //-     #getstarted
      //-       //- .hdg.hdg-2 Get Started!
      //-       +login-or-register("Login with your account to begin using your cool app!","Register with your email address to create an account.")

block content
  section.file
    article.main
      .hdg.hdg-2.articletitle File: #{files.name}
      .item
        .itemdetail
          label.label Description:
          .data #{files.description}
        .itemdetail
          label.label Unique ID:
          .data #{files.appid}
        .itemdetail
          label.label Type:
          .data #{files.mimetype}
        .itemdetail
          label.label Domain
          .data #{files.domain.name}
        .itemdetail
          label.label User
          .data #{files.user.fullname}
        if(files)
          .itemdetail.filevisibility
            label.label Public:
            .data
              input#public.hidden(type="checkbox" name="public" value="true" disabled checked=!!(files.public))
              label.togglepublicfalse(for="public")
                i.material-icons.toggle.toggleoff visibility_off
              label.togglepublictrue(for="public")
                i.material-icons.toggle.toggleon visibility
        .itemdetail
          label.label View
          .data
            picture
              source(srcset='/files/' + files.appid)
              img.preview(src='/files/' + files.appid)
        if(files.mimetype.includes('image'))
          .itemdetail
            label.label Snippets
            .data Use this snippet to include this image in a note entry:
            pre.snippet
              = '<figure>\n'
              = '\t<img src="https://[your.url]/files/' + files.appid + '" alt="[your_description]">\n'
              = '\t<figcaption>[Fig.1 - your_caption.]</figcaption>\n'
              = '</figure>\n'
            .data Remember to change the URL, description and caption!

