footer
  nav(role=navigation)
    div.navleft
      .copyright &copy;2019 Travis Colbert
      .madewith Made with Laminar
    div.navcenter
      - userName = account || null;
      //- - if(userName) userName = userName[0].toUpperCase() + userName.slice(1);
      div Hi &nbsp;#[a(href='/profile/') #{userName}]
    div.navlinks
      ul
        li
          a(href="mailto:travis@traviscolbert.net")
            i.material-icons.menu-icon mail_outline
        //- each item in menu
        //-   - var link = item.link;
        //-   - var text = item.text;
        //-   li
        //-     a(href=link)
        //-       i.material-icons.menu-icon #{item.icon}
        //-       .nobreak #{text}

script(src='/js/authUI.js')
script(src='/js/onboard.js')
