extends index.pug

block content
  .layout-width-6-8.layout-col
    if(user)
      .layout-width-1-1 Hello #{user.email}!
    else
      .layout-width-1-1 It Works!
    .layout-width-1-1 Welcome to your web app!
    if(user)
      .layout-width-1-1.layout-row
        .layout-width-1-2.layout-col Check up on your domains:
          .layout-width-1-1
          if(user.defaultDomainId)
            .layout-width-1-1 Your default domain is: #{user.defaultDomainId}
          if(domains)
            each domain in domains
              .layout-width-1-1
                - let selectedDomain = (currentDomain.id==domain.id) ? "*" : "";
                .test #{domain.name} (id: #{domain.id}) #{selectedDomain}
        .layout-width-1-2.layout-col
          .layout-width-1-1 Create a new domain here:
          .layout-width-1-1
            input#domain(type="text")
