extends index.pug

block content
  section.layout-width-sd.layout-col
    if(user)
      .layout-width-1-1 Hello #{user.email}!
    else
      .layout-width-1-1 It Works!
    .layout-width-1-1 Welcome to your web app!
    if(user)
      .layout-width-1-1.layout-col
        if(invites)
          - let invitesNum = invites.length || 0;
          if(invitesNum)
            div Note: You've been invited to connect to the folowing domains: #{invitesNum}
            each invite in invites
              div #{invite.roleAppid}
              .layout-width-1-1.layout-row
                a(href= "/invites/" + invite.roleAppid + "/") #{invite.roleAppid}
        .layout-width-1-2.layout-col Check up on your domains:
          .layout-width-1-1
          if(user.defaultDomainId)
            .layout-width-1-1 Your default domain is: #{user.defaultDomainId}
          if(user.domains)
            each domain in user.domains
              .layout-width-1-1
                - let selectedDomain = (user.currentDomain.id==domain.id) ? "*" : "";
                - let switchToDomain = (user.currentDomain.id!=domain.id) ? "/users/" + user.id + "/actions/switchdomain/" + domain.id + "/" : "";
                .test.clickable(onclick="goTo('" + switchToDomain + "')") #{domain.name} (id: #{domain.id}) #{selectedDomain}
        .layout-width-1-2.layout-col
          .layout-width-1-1 Create a new domain here:
          .layout-width-1-1
            input#domain(type="text")
      if(notes)
        if(notes.length>0)
          .layout-width-1-1.layout-col Notes In This Domain:
            each note in notes
              .layout-width-1-1 
                .notename #[a(href="/notes/" + note.id + "/") #{note.name}]
              .layout-width-1-1
                .notedescription #{note.description}