doctype html

mixin login-or-register(loginText,registerText)
  #usercontrols
    .app-features.clickable(onclick="goTo('/login/')")
      div
        i.material-icons.big-icon verified_user
      div= loginText
    .app-features.clickable(onclick="goTo('/register/')")
      div
        i.material-icons.big-icon fingerprint
      div= registerText

mixin create-or-see-domains(domainName)
  article#createorseedomains
    h2 Domain Actions
    .item-listing
      a.btn.secondary(href="/domains/")
        i.material-icons list_alt
        span #{domainName} List
      a.btn.primary(href="/actions/create/domains/")
        i.material-icons check_circle_outline
        span Create #{domainName}

mixin list-user-invites
  if(invites && invites.length>0)
    article#invites
      h2 New Invites!
      .item-listing
        a.btn.secondary(href="/invites/")
          i.material-icons.badge(alt="(invites)" title="Respond to your new invites") card_giftcard
          span See Invites

mixin list-user-domains(domainText)
  if(user.domains)
    article#domains
      h2 #{domainText}
      .item-listing
        each domain in user.domains
          //- if domain.name!="Trash" && domain.name!="Default"
          - let order = (user.defaultDomainId==domain.id) ? "orderfirst" : "ordernormal"
          .item(class=order)
            .itemhead #[a(href="/domains/" + domain.id + "/") #{domain.name}] 
              if(user.defaultDomainId==domain.id)
                | #[i.material-icons.badge(alt="(default account)" title="This is currently your default account") favorite]
            .itemdetail #{domain.description}
              - let defaultToDomain = (user.defaultDomainId!=domain.id) ? "/users/" + user.id + "/actions/setdefaultdomain/" + domain.id + "/" : "";
              if(user.defaultDomainId!=domain.id && domain.name!="Trash")
                a#domain_make_default_button.btn.tertiary.buttondomaindefault(href= defaultToDomain)
                  i.material-icons.badge favorite_border
                  span Make Default
            if(domain.notes)
              div Notes:
              each note in domain.notes
                .item-listing
                  div
                    i.material-icons receipt
                  div
                    .nobreak #{note.name}
                    .layout-row #{note.description}

mixin link(options)
  if(options.type=="link")
    link(rel= options.rel media= options.media href= options.href)
  else if (options.type=="script")
    script(src= options.src)

include mixins.pug

html(lang=lang)
  include head.pug
  body
    include navigation.pug
    main(class=pageClass)
      //- include messages.pug
      block content
      block aside
    block scripts
    include foot.pug
