doctype html

mixin login-or-register(loginText,registerText)
  #usercontrols
    .app-features.clickable(onclick="goTo('/login/')")
      div
        i.material-icons.big-icon verified_user
      div= loginText
    .app-features.clickable(onclick="goTo('/register/')")
      div
        i.material-icons.big-icon fingerprint
      div= registerText

mixin create-or-see-domains(domainName)
  article#createorseedomains
    .hdg.hdg-2 Domain Actions
    .item-listing
      .item-container
        a.btn.secondary(href="/domains/")
          i.material-icons list_alt
          span #{domainName} List
      .item-container
        a.btn.primary(href="/actions/create/domains/")
          i.material-icons check_circle_outline
          span Create #{domainName}

mixin list-user-invites
  if(invites && invites.length>0)
    article#invites
      .hdg.hdg-2 Invites (#{user.domains.length})
      include invites

mixin list-user-domains(domainText)
  article#domains
    .hdg.hdg-2 #{domainText}
    .item-listing
      if(user.domains)
        each domain in user.domains
          if domain.name!="Trash" && domain.name!="Default"
            .item-container
              .item-listing
                .itemhead #[a(href="/domains/" + domain.id + "/") #{domain.name}] 
                  if(user.defaultDomainId==domain.id)
                    | #[i.material-icons.badge(alt="(default account)" title="This is currently your default account") stars]
                .itemdetail #{domain.description}
                  - let defaultToDomain = (user.defaultDomainId!=domain.id) ? "/users/" + user.id + "/actions/setdefaultdomain/" + domain.id + "/" : "";
                  if(user.defaultDomainId!=domain.id)
                    a#domain_make_default_button.btn.tertiary.buttondomaindefault(href= defaultToDomain)
                      i.material-icons stars
                      span Make Default
                if(domain.notes)
                  div Notes:
                  each note in domain.notes
                    .item-listing
                      div
                        i.material-icons receipt
                      div
                        .nobreak #{note.name}
                        .layout-row #{note.description}

mixin link(options)
  if(options.type=="link")
    link(rel= options.rel media= options.media href= options.href)
  else if (options.type=="script")
    script(src= options.src)

include mixins.pug

html
  include head.pug
  if(headoptions)
    for headoption in headoptions
      +link(headoption)
  body
    //- canvas#bgcanvas
    include navigation.pug
    main
      //- block aside
      //- include messages.pug
      block content
      block aside
    block scripts
  include foot.pug