mixin list-notes(notes)
  //- #note_add_button_container.addnote.authUI(data-fetch="note_add" data-href="/actions/create/notes/")
  .item-listing
    each note in notes
      - let targetLoc = "/notes/" + note.id + "/";
      .item.clickable(onclick="goTo('" + targetLoc + "')")
        .itemdetail
          .label Name:
          .data #[a(href="/notes/" + note.id + "/") #{note.name}]
        - let description = note.description || null
        if description
          .itemdetail
            .label Description:
            .data #{note.description}

mixin list-blogs(notes)
  .item-listing
    each note in notes
      - let targetLoc = "/blog/" + note.id + "/";
      .item.clickable(onclick="goTo('" + targetLoc + "')")
        .itemdetail
          .label Name:
          .data #[a(href="/blog/" + note.id + "/") #{note.name}]
        - let description = note.description || null
        if description
          .itemdetail
            .label Description:
            .data #{note.description}

mixin list-articles(notes)
  //- #note_add_button_container.addnote.authUI(data-fetch="note_add" data-href="/actions/create/notes/")
  .item-listing
    each note in notes
      //- - console.log(note.domain);
      //- - console.log(note.user);
      - let targetLoc = "/notes/" + note.id + "/";
      .item.clickable(onclick="goTo('" + targetLoc + "')")
        .itemdetail.articledomain.articlemeta
          .data #{note.domain.name}
        .itemdetail.articletitle
          .data #{note.name}
        - let description = note.description || null
        if description
          .itemdetail.articledescription
            .data #{note.description}
        .itemdetail.articleauthor.articlemeta
          .data By: #{note.user.firstname} #{note.user.lastname}
        .itemdetail.articledate.articlemeta
          - let date = new Date(Date.parse(note.updatedAt))
          .data On: #{date.toLocaleDateString()}

mixin list-domains(domains)
  //- #domain_add_button_container.addrole.layout-row.layout-justify-between.authUI(data-fetch="domain_add" data-href="/actions/create/domains/")
  .item-listing
    each domain in domains
      - let targetLoc = "/domains/" + domain.id + "/";
      .item.clickable(onclick="goTo('" + targetLoc + "')")
        .itemdetail.layout-col
          label.label Name:
          .data #{domain.name}
        - let description = domain.description || null
        if description
          .itemdetail.layout-col
            label.label Description:
            .data #{domain.description}