header
  nav(role=navigation)
    #menu-title
      div#app-title.title
        a(href="/")= title
      //- if(pageTitle)
      //-   div#page-title.title= pageTitle
    .navlinks
      ul
        //- input#show-menu.hidden(type="checkbox" role="button" checked)
        each item in menu
          - var link = item.link;
          - var text = item.text;
          li.menu-link
            a(href=link)
              i.material-icons.menu-icon #{item.icon}
              .nobreak #{text}
        //- li
        //-   //- label#menu-hamburger(for="show-menu") &#9776;
        //-   label#menu-open(for="show-menu") &#10502;
        //-   label#menu-close(for="show-menu") &#10503;
