header
  nav(role=navigation)
    #menu-title
      div#app-title
        a(href="/")= title
    .navlinks
      ul
        input#show-menu.hidden(type="checkbox" role="button")
        each item in menu
          - var link = item.link;
          - var text = item.text;
          li.menu-link
            a(href=link)
              i.material-icons.menu-icon #{item.icon}
              .nobreak #{text}
        li
          label#menu-hamburger(for="show-menu") &#9776;
