extends index.pug

block aside
  aside.sidebar
    article.noteactions
      h2 Note Actions
      .actions.secondary
        input.btn.primary.buttonconfirm(type="submit" id="submit" value="Confirm" form="note-edit")
        a.btn.cancel(href="/users/" + user.id) Cancel
        #note_add_button_container.addnote.authUI(data-fetch="note_add" data-href="/actions/create/notes/")

block content
  section
    article.main
      h2 Edit Note: #{note.id}
      form#note-edit(action="/notes/" + note.id + "/" method="post")
        input(id="id" type="hidden" name="id" value= note.id)
        .itemdetail
          label.label(for="name") Title:
          .data 
            input#name(type="text" name="name" value=note.name autofocus)
        .itemdetail
          label.label(for="description") Description:
          .data
            input#description(type="text" name="description" value=note.description)
        .itemdetail
          label.label(for="keywords") Keywords:
          .data
            input#keywords(type="text" name="keywords" value=note.keywords)
        .itemdetail
          label.label(for="description") Domain:
          .data
            input#domain(type="text" name="domain" disabled value=note.domain.name)
        .itemdetail
          label.label Visibility:
          .data
            input#public.hidden(type="checkbox" name="public" value="true" checked=!!(note.public))
            label.togglepublicfalse(for="public")
              i.material-icons.toggle.toggleoff toggle_off
            label.togglepublictrue(for="public")
              i.material-icons.toggle.toggleon toggle_on
        .itemdetail.layout-col
          label.label(for="body") Body:
          .data
            textarea#body(cols="30" rows="10" name="body") #{note.body}
