extends index.pug

block aside
  aside.sidebar
    .sticky-50.flexy-column
      if(user)
        article.noteactions
          .hdg.hdg-2 Actions
          #note_add_button_container.addnote.authUI(data-fetch="note_add" data-href="/actions/create/notes/")
          #note_edit_button_container.editnote.authUI(data-fetch="note_edit" data-href="/notes/" + notes.id + "/actions/edit/")
        +list-user-invites()
        #articles
          include articles-list
        +list-user-domains("Domain")
        +create-or-see-domains("Domain")
      if(!user)
        article.actions
          if(notes && notes.length>0)
            #articles
              include articles-list
          #getstarted
            //- .hdg.hdg-2 Get Started!
            +login-or-register("Login with your account to begin using your cool app!","Register with your email address to create an account.")

block content
  section.note
    article.main
      .hdg.hdg-2.articletitle #{notes.name}
      .article-listing
        .itemdetail
          .articledescription #{notes.description}
          .articlemetadata
            .articlemeta.user
              .label author:
              .data #{notes.user.firstname} #{notes.user.lastname}
            .articlemeta.updated
              .label updated on:
              .data #{notes.updatedAt.toLocaleDateString()}
            .articlemeta.domain
              .label category:
              .data #{notes.domain.name}
        if(user)
          .itemdetail.articlevisibility
            label.label Public:
            .data
              input#public.hidden(type="checkbox" name="public" value="true" disabled checked=!!(notes.public))
              label.togglepublicfalse(for="public")
                i.material-icons.toggle.toggleoff radio_button_unchecked
              label.togglepublictrue(for="public")
                i.material-icons.toggle.toggleon radio_button_checked
        .itemdetail
          .articlebody !{notes.html}
