extends index.pug

block content
  section.profile
    article.main
      .hdg.hdg-1 My Profile #{user.fullname}
      div
        .itempanel
          .itembanner
            .itemhead User: #{user.fullname} 
            .itemdetail
              label.label(for="partnum") First Name:
              .data #{user.firstname}
            .itemdetail
              label.label(for="partnum") Last Name:
              .data #{user.lastname}
            .itemdetail
              label.label(for="email") Email:
              .data #{user.email}
          .item-listing
            .itemdetail
              label.label(for="partnum") Domains:
                -
                  let domainList = {};
                  user.roles.forEach(role => {
                    role.domains.forEach(domain => {
                      if(!domainList.hasOwnProperty(domain.uniqueAppId))
                        domainList[domain.uniqueAppId] = domain;
                    });
                  });
                each domain, uniqeId in domainList
                  .data #{domain.name}
            .itemdetail
              label.label Roles:
                each role in user.roles
                  .data #{role.name}
    article.secondary
      .description
        .infotext.hdg.hdg-3 Edit User View
        .infotext You can edit a user with this view.
        .infotext Modify the details for the user.
        .infotext.hdg.hdg-3 Email
        .infotext Enter the user's email address here. This should be a valid email address
        .infotext.example
          .infotext.heading Examples:
          .infotext tommy@test.com
        .infotext.important This is a required field.
