extends index.pug

mixin userpill(title,link,icon)
  - if(!link) link="#"
  .pill.clickable(onclick="goTo('" + link + "')")
    .pillicon.tertiary
      if(icon)
        i.material-icons #{icon}
    .pilllabel.nobreak= title
    block

block aside
  aside.sidebar
    .title Role Actions
    .nav
      .navitem One item
      .navitem Two 
      .navitem Three
    .actions.role-actions.secondary
      #role_edit_button_container.authUI(data-fetch="role_edit" data-href="/roles/" + role.id + "/actions/edit/")
      //- #note_add_button_container.addnote.authUI(data-fetch="note_add" data-href="/actions/create/notes/")
    .actions.user-actions.secondary
      #role_add_user_button_container.authUI(data-fetch="role_add_user" data-href="/roles/" + role.id + "/actions/adduser/")

block content
  section
    .section-hdg.section-hdg-1 Role Detail
    div
      .itempanel
        .itembanner
          .itemhead Role: #{role.name}
          .itemdetail
            label.label(for="roledescription") Description:
            #roledescription.data #{role.description}
          .itemdetail
            label.label For Domain:
            each domain in role.domains
              #roledomain.data #{domain.name}
          if(role.capabilities)
            .itemdetail
              label.label Capabilities:
              //- strange: in PUG keys and vals are swapped (below)
              each scope,capability in role.capabilities
                .data #{capability} : #{scope}
          //- #role_edit_button_container.authUI(data-fetch="role_edit" data-href="/roles/" + role.id + "/actions/edit/")
        .item-listing
          .itemdetail
            label.label Users In This Role
            div
              each user in role.users
                +userpill(user.fullname,`/users/${user.id}/`,"face")
              //- +userpill("add user",`/roles/${role.id}/actions/adduser/`,"check_circle_outline")
          .itemdetail
            label.label Actions:
            .data
              //- input.btn.primary.buttonconfirm(type="submit" id="submit" value="Confirm")
              //- #role_add_user_button_container.authUI(data-fetch="role_add_user" data-href="/roles/" + role.id + "/actions/adduser/")
              //- a.btn.submit(href="/roles/" + role.id + "/adduser/") Add User
            //- .data.layout-row
            //-   a.btn.cancel(href="/roles/") Cancel
      //- .description.layout-xs-hidden.layout-sm-hidden.layout-md-hidden.layout-sd-width-3-8.layout-lg-width-3-8.layout-xl-width-4-8
      //-   .infotext.section-hdg.section-hdg-3 Edit Role View
      //-   .infotext You can edit a role with this view.
      //-   .infotext Modify the details for the role.
      //-   .infotext.section-hdg.section-hdg-3 Name
      //-   .infotext Enter the user's email address here. This should be a valid email address
      //-   .infotext.example.layout-col
      //-     .infotext.heading Examples:
      //-     .infotext tommy@test.com
      //-   .infotext.important This is a required field.
