extends index.pug

mixin userpill(title,link,icon)
  - if(!link) link="#"
  .pill.clickable(onclick="goTo('" + link + "')")
    .pillicon.tertiary
      if(icon)
        i.material-icons #{icon}
    .pilllabel.nobreak= title

block aside
  aside.sidebar
    article.roleactions
      h2 Actions
      input.btn.primary.buttonconfirm(type="submit" form="roleadduserform" id="submit" value="Confirm")
      //- #role_add_user_button_container.authUI(data-fetch="role_add_user" data-href="/roles/" + role.id + "/actions/adduser/")
      //- a.btn.submit(href="/roles/" + role.id + "/adduser/") Add User
      //- .data.layout-row
      a.btn.cancel(href="/roles/") Cancel
      //- #note_add_button_container.addnote.authUI(data-fetch="note_add" data-href="/actions/create/notes/")

block content
  section.roleadduser
    article.main
      h2 Current Role Details
      .itempanel
        .itembanner
          .itemhead Role: #{role.name}
          .itemdetail
            label.label(for="roledescription") Description:
            #roledescription.data #{role.description}
          .itemdetail
            label.label For Domain:
            each domain in role.domains
              #roledomain.data #{domain.name}
          if(role.capabilities)
            .itemdetail
              label.label Capabilities:
              //- strange: in PUG keys and vals are swapped (below)
              each scope,capability in role.capabilities
                .data #{capability} : #{scope}
          //- #role_edit_button_container.authUI(data-fetch="role_edit" data-href="/roles/" + role.id + "/actions/edit/")
      h2 Current Users
      .item-listing
        .itemdetail
          label.label Users Currently In This Role
          div
            each user in role.users
              +userpill(user.fullname,`/users/${user.id}/`,"face")
            //- .data #{user.fullname}
      h2 Add/Invite User to Role
      form#roleadduserform(action="/roles/" + role.id + "/actions/adduser/" method="post")
        .inputroleuseremail.itemdetail
          label.label Add/Invite User Email:
          .data
            input(id="inviteduser" type="text" name="inviteduser")
        .inputroleuser.itemdetail
          label.label PIN:
          .data
            input(id="pin" type="text" name="pin" value= pin)
            .subdata The person you invite to this role must provide this PIN. Please communicate this PIN to them so they can accept the invitation.
        .itemrolenote.itemdetail
          label.label Comment (optional):
          .data
            input(id="comment" type="text" name="comment")
            .subdata Notes on the invite (optional)

