extends index.pug

block aside
  aside.sidebar
    h2 Role Actions
    .nav
      .navitem One item
      .navitem Two 
      .navitem Three
    .actions.secondary
      input.btn.primary.buttonconfirm(type="submit" id="submit" value="Confirm" form="role-edit")
      a.btn.cancel(href="/roles/") Cancel

      //- #note_add_button_container.addnote.authUI(data-fetch="note_add" data-href="/actions/create/notes/")

block content
  section
    h2 Role
    div
      .item-listing
        form#role-edit(action="/role/edit" method="post")
          input(id="roleid" type="hidden" name="roleid" value=role.id)
          .itemdetail
            label.label(for="partnum") Name:
            .data #{role.name}
          .itemdetail
            label.label(for="partnum") Description:
            .data #{role.description}
          .itemdetail
            label.label Domains:
            each domain in role.domains
              .data #{domain.name}
              .data #{domain.description}
