extends index.pug

mixin userpill(title,link,icon)
  - if(!link) link="#"
  .pill.clickable(onclick="goTo('" + link + "')")
    .pillicon.tertiary
      if(icon)
        i.material-icons #{icon}
    .pilllabel.nobreak= title
    block

block aside
  aside.sidebar
    article.roleactions
      h2 Role Actions
      .actions.role-actions.secondary
        #role_edit_button_container.authUI(data-fetch="role_edit" data-href="/roles/" + role.id + "/actions/edit/")
      .actions.user-actions.secondary
        #role_add_user_button_container.authUI(data-fetch="role_add_user" data-href="/roles/" + role.id + "/actions/adduser/")

block content
  section.role
    article.main
      h2 Role Detail
      .itempanel
        .itembanner
          //- .itemhead Role: #{role.name}
          .itemdetail
            label.label Name:
            .data #{role.name}
          .itemdetail
            label.label(for="roledescription") Description:
            #roledescription.data #{role.description}
          .itemdetail
            label.label For Domain:
            each domain in role.domains
              #roledomain.data #{domain.name}
          if(role.capabilities)
            .itemdetail
              label.label Capabilities:
              //- strange: in PUG keys and vals are swapped (below)
              each scope,capability in role.capabilities
                .data #{capability} : #{scope}
        .item-listing
          .itemdetail
            .hdg.hdg-3 Users In This Role:
            div
              each user in role.users
                +userpill(user.fullname,`/users/${user.id}/`,"face")
