extends index.pug

block content
  .layout-col
    h2 User Edit
    .user-listing.layout-col.layout-width-1-1.layout-sd-width-5-8.layout-lg-width-5-8.layout-xl-width-4-8
      form(action="/users/" + user.id method="post")
        input(id="id" type="hidden" name="id" value=user.id)
        .itemdetail.layout-col
          label.label(for="email") Email:
          .data #{user.email}
        .itemdetail.layout-col
          label.label(for="firstname") First Name:
          .data
            input(id="firstname" type="text" name="firstname" value=user.firstname)
        .itemdetail.layout-col
          label.label(for="lastname") Last Name:
          .data
            input(id="lastname" type="text" name="lastname" value=user.lastname)
        //- Roles object
        - let userRoles = user.roles || null
        if userRoles
          .itemdetail.layout-col
            .label Roles:
            each role in userRoles
              .data #{role.name}
        .itemdetail.layout-col
          label.label(for="defaultDomainId") Preferred Domain:
          .data
            select#roleId(name="defaultDomainId")
              each role in user.roles
                each domain in role.domains
                  - let selected = (domain.id==user.defaultDomainId) ? "selected" : null;
                  option(value=domain.id selected=selected) #{domain.name}
        .itemdetail.layout-col
          label.label Actions:
          .data.layout-row
            input.btn.primary.buttonconfirm(type="submit" id="submit" value="Confirm")
            a.btn.cancel(href="/users/" + user.id) Cancel
